html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: $base-font;
}

div {
  width: 200px;
  height: 200px;
  display: inline-block;
  float: left;
}

h1 {
  font-size: 48px;
}

.scale {
  border: 1px solid $pink;
  transition: transform 1s;
}

.scale:hover {
  -webkit-transform: scale(4);
  transform: scale(4);
}

.rotate {
  border: 1px dashed $light-mint;
  transition: transform 2s;
}

.rotate:hover {
  -webkit-transform: rotate(1000deg);
  transform: rotate(1000deg);
}

.skew {
  border: 1px solid $peach;
  transition: transform 1s;
}

.skew:hover {
  -webkit-transform: skew(25deg, 10deg);
  transform: skew(25deg, 10deg);
}

.translate {
  border: 1px dotted $mint;
  transition: transform 0.40s;
}

.translate:hover {
 -webkit-transform: translate(30px, 30px);
 transform: translate(30px, 30px);
}

.color {
  border: 1px solid $yellow;
  transition: background-color 0.60s;
}

.color:hover {
  background-color: $yellow;
}

.animate-color {
  border: 1px dotted black;
}

.animate-color:hover {
  -webkit-animation: animateColor 3s;
  animation: animateColor 3s;
}

.rotate-y {
  border: 1px solid $pink;
  transition: transform 1s;
}

.rotate-y:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.rotate-x {
  border: 1px solid $peach;
  transition: transform 1s;
}

.rotate-x:hover {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.rotate-z {
  border: 1px dashed $purple;
  transition: transform 3s;
}

.rotate-z:hover {
  -webkit-transform: rotateZ(-180deg);
  transform: rotateZ(-180deg);
}

.skew-rotate {
  border: 1px solid $mint;
}

.skew-rotate:hover {
  -webkit-animation: skewAndRotate 3s;
  animation: skewAndRotate 3s;
}