$pink: #ffc0cb;
$mint: #77bfa3;
$light-mint: #b7e3cc;
$peach: #f37b61;
$purple: #a377bf;
$yellow: #f7ec7d;


@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i');

$base-font: 'Alegreya', serif;